[2014-08-07 13:48] erszcz opened #162 "Rule idea: no `-type`s in .hrl files"
Defining types in public header files (especially those intended for inclusion via `-include_lib()`) might lead to type name clashes between projects and even modules of a single big project.
Instead, types should be defined in modules which they correspond to (with `-export_type()`) and this way take advantage of the namespacing offered by module names.
In other words, "no type definitions in hea

[2014-09-05 19:10] igaray opened #168 "Function purity checks"
Explore some solution to explicitly mark functions as pure, .i.e. with no side effects, possibly with %% @pure comments, to have elvis check that the funcion does not access impure functions, ets tables, send or receive messages, access a database, etc.

Alternatively, have elvis warn about all impure functions, and explitly mark impure functions to suppress warnings.

Or enable both modes.

[2014-09-15 20:09] igaray opened #160 "Complain about preprocessor macro use."
A rule to complain the use of any non-built-in macro, allowing for exceptions via a whitelist.

e.g.

[code]

[2014-12-02 11:56] elbrujohalcon opened #167 "Add code suggestions to comments"
When possible, add code suggestions to the warnings.
As an example,
Instead of…

…say…

[2015-11-20 00:39] Licenser opened #166 "smarter handling of DRY checks"
the Dry-ing should probably not suggest to turn a flat list/tuple creation into a more dry version. That would only be mis helpful. Perhaps there could be some added value to complexity like depth?

[code]

trigger the DRY detector but it would make little sense to extract `[Server, Port, Command, From, Timeout]` into an own function, it would neither make the code more readable nor more maintaina

[2015-11-23 19:09] Licenser opened #3 "Split out printing code in a own module"
`elvis:rock/*` seem to include all the printing code as well as the checking code. It could be helpful to separate this out in two step that way the output form the 1st step could be programmatically consumed while the output from step 2 could printed to the console.

[2015-11-23 19:12] Licenser opened #4 "Check `cf` to replace "calls" like `{{red-bold}}`"
In my crusade of killing all duplicated code for color printing on the console I'd wanted to offer the suggestion of using http://github.com/project-fifo/cf this. It includes a io:format like syntax for terminal colors along with termcap based detection of weather colors should be used or not.

[2015-11-26 00:50] Licenser opened #5 "add option for global ignore"
I'm having the situation that I want to exclude some modules entirely. It are auto generated modules for a lexer and parser and enforcing syntax rules on they would be pointless.

I would like to add a `ignore` rule on the top level, along with `dirs` and `filter` that entirely takes modules out of the check.

If there are no objections to this I'll implement it and open a PR.

[2015-11-26 01:11] elbrujohalcon commented on #5
This is a duplicate of inaka/elvis#190.
No objections from here, @Licenser :)

[2015-11-26 19:05] Licenser opened #7 "provide a hex package"
This requires the dependencies to be availalbe via hex too
Regarding this I already opened:
- [ ] https://github.com/ErlyORM/aleppo/issues/16
- [x] https://github.com/inaka/zipper/issues/22
- [ ] https://github.com/unbalancedparentheses/erlang-katana/issues/29

Once they are closed we should be able to use them in deps and use rebar3 hex upload to generate a elvis_core hex package :D

[2015-11-26 21:13] elbrujohalcon commented on #7
I would be much happier if we could add hex.pm integration to erlang.mk … but for know, we can do it _the rebar3 way_

[2015-11-27 14:34] Licenser commented on #7
This is more a requirement of hex then of rebar3, hex packages can't specify dependencies that are not packages themselves. What tool uploads them, rebar, mix, erlang.mk or some curl doesn't matter.

[2015-11-28 03:23] tsloughter commented on #7
Right, it doesn't matter what tool is used to publish to hex, all that matters is that all dependencies are in hex. Publishing with rebar3 or mix (or any other tool that gets support) is fine.

[2015-12-16 17:24] jfacorro opened #8 "Remove rebar binary"

[2015-12-16 17:44] jfacorro commented on #7
Is it really necessary to have all dependencies in hex? Doesn't it depend on what tool is used to build the project. For example, if I'm building my project with `make` (using `erlang.mk`) and `elvis_core` is a dep that we get from hex.pm, `erlang.mk` will download its package and try to build it, since it has a `Makefile` with its own deps everything should work. I imagine the same scenario is va

[2015-12-16 17:57] tsloughter commented on #7
Rebar3 resolves all deps of a hex package based on the registry, it will not fetch additional deps that are defined in rebar.config.

[2015-12-16 17:58] #8 closed

[2015-12-16 17:59] jfacorro opened #10 "Update README with apropiate content from inaka/elvis"

[2015-12-16 18:25] jfacorro commented on #7
@tsloughter Oh, I see. I didn't know that. Thanks!

[2015-12-16 20:07] #5 closed

[2015-12-16 22:10] #10 closed

[2017-04-14 22:27] elbrujohalcon opened #157 "Don't use map()map() syntax"
The idea behind this rule comes from [this email](http://erlang.org/pipermail/erlang-questions/2017-April/092112.html) by @kvakvs.
Basically, the goal is to emit a warning if someone _forgets a comma_ and writes something like:

[code]

It will also warn on things like ``#{a =>1}#{b => 2}``, but I think it's worth it since that expression is easily rewritable as ``#{a => 1, b => 2}``.

[2017-07-12 13:04] kvakvs opened #156 "map(key, key, ...) on the left side of a pattern and in expressions/right side"
Having:
`#{key := A, x := X, y := Y, key := B}` = ZZZ,
on the left of a pattern is not an error but can be very confusing. It could be a warning.

Having it on the right side of a pattern, or in a free-standing expression — is not an error but most likely is a sign of a typo, or a copy-paste error.
`ZZZ = #{key => A, x => xxx, y => yyy, key => B}`

[2019-05-13 11:23] tothlac opened #154 "fix no_call, no_debug_call and invalid_dynamic_call rules"
They work only without defines. If I have this in the code:

[code]
it won't be able to find the `no_call` and `invalid_dynamic_call` violations.

[2020-03-18 15:23] robertoaloi opened #153 "Rule suggestion: no spaces around # for maps and records"
In Erlang, using spaces before and after the `#` symbol when dealing with maps or records, is valid. Still, it should be discouraged. I believe a rule that would prevent things like this from happening would be a nice addition:

[code]

[2020-08-07 10:32] elbrujohalcon opened #151 "Extend naming conventions with things to avoid"
Currently, our naming convention rules only allow for a single regex that identifies what is _permitted_/_valid_.
It would be nice to add an additional _forbidden_ regex to identify things that are not valid, like function names starting with `do_`.

Ref: WhatsApp/erlfmt#91

[2020-08-07 10:35] elbrujohalcon opened #150 "New Rule: Always shortcircuit"
* avoid `and` and `or` operators, prefer` andalso` and `orelse`, or
  in guards, where possible, combine expressions with `,` and `;`
[code]

[code]

[code]

Ref: WhatsApp/erlfmt#91

[2020-09-15 09:50] elbrujohalcon opened #149 "New Rule: Don't use -author"
For some/most of my projects, nobody cares who _authored_ a module.
Also generally, the `author` attribute usually only represents the first developer that created the module, which may as well had left the project a long long time ago.
It sometimes contains an email in atom format, sometimes in a string, sometimes it's just a name…

In general, this is a very misused attribute.

So, I'm proposing

[2020-09-18 21:54] paulo-ferraz-oliveira opened #163 "Execution without elvis.config shows no issues"
I just created a new project, added no `elvis.config` to it, ran `elvis` on top of it and... got no issues.

I was assuming a default `elvis.config` would be applied.

Is there a preference here? Or is this a non-issue?

[rebar3_lint](https://github.com/project-fifo/rebar3_lint) does implement its own default, but it'll easily be outdated (or "wrong", if it's aiming at `elvis`' defaults - e.g. `ne

[2020-09-21 23:23] paulo-ferraz-oliveira opened #148 "New rule: no space before/after specific text"
Haven't thought through all use cases, but it's maybe something to consider.
As is no space after `{` and no space before `}`.
As is no space after `[` and no space before `]`.
Newline doesn't count as space.

[2020-09-23 10:08] paulo-ferraz-oliveira opened #147 "New rule: avoid blocks expressions"
Definition: [Block Expressions](https://erlang.org/doc/reference_manual/expressions.html#block-expressions).

**Reasoning**: Use functions… with names… don’t be shy! (by @elbrujohalcon)

Also, we should support `ignore` as we do for other rules (let's just hope `ignore` is already generalized once we get here 😉).

[2020-09-24 14:17] paulo-ferraz-oliveira opened #146 "Warn on empty analysis"
When executing analysis on a given folder reference (origin: `elvis.config` > (inexisting)`dirs => ["text/examples"]` instead of (existing)`dirs => ["test/examples"]`), if no elements are found in a given examined path, a warning should be output, so we know we're dealing with an exception. (it also helps keep our `elvis.config` as trimmed as possible).

[2020-11-12 12:22] paulo-ferraz-oliveira opened #145 "New Rule: Avoid catch expressions"
I'm specifically talking about `catch 1+a` stuff, like we find here: http://erlang.org/doc/reference_manual/expressions.html#catch.

This'll generate an unused stacktrace as well as "incomprehensible" return, as explained in

[code]

@elbrujohalcon: thoughts?

[2020-11-27 09:26] robertoaloi opened #144 "Check for missing specs (all/exported_only)"
The Inaka Guidelines contain a [write-function-specs](https://github.com/inaka/erlang_guidelines#write-function-specs) rule, but the rule is not implemented as a check.

Even if an [undocumented compiler option exists](https://stackoverflow.com/questions/12092682/warnings-for-functions-without-type-specs) to warn about missing specs, this is not ideal for big, existing code bases which use it in c

[2021-01-07 14:04] #7 closed

[2021-01-07 14:11] elbrujohalcon opened #152 "New Rule: Parentheses in Macro Definitions"
Ref: WhatsApp/erlfmt#91

* Omit `()` in macro names only if they represent constants
[code]
[code]

[2021-01-07 14:16] igaray opened #155 "Detect conversions from literals"
Sometimes people are lazy or are very tired and write code like this:
[code]

Elvis could detect conversion to and from maps, lists, and possibly other data types when the argument to the conversion function is a literal value. Of course it won't stop people from assigning literal values to a variable and passing that, but nobody's perfect.

[2021-01-07 14:20] fenollp opened #158 "Non-bulk preloading files: faster Elvis"
Could we
1. load file & apply rules (then repeat with next file) per-file thus breaking the current "load all files & then apply rules"
2. make sure to not load same files twice for a same set of rules (dirs+filter can find the same files more than once)

For projects with lots of files using Elvis has proved to take quite a lot of CI time.

Using Elvis 0.2.11.

[2021-01-07 14:20] seriyps opened #159 "macro_module_names false-positive"
I use macroses to hide internal exception data structure.

I have .hrl file like

[code]

And inside my code I use constructions like

[code]

And elvis thinks that I use macros as function name placeholder, but that's not true.

[2021-01-07 14:23] erszcz opened #161 "Rule idea: allow only short/trivial inline funs"
Take [an example from MongooseIM (actually a legacy leftover from ejabberd)](https://github.com/esl/MongooseIM/blob/4211e4ca6e11d60cccfc0da16f08ba0c0d8e4a94/apps/ejabberd/src/mod_muc_room.erl#L2225-L2281) - this _inline fun_ is 55 lines long!
This leads to the following issues:
- the fun code has problems with indentation, since the body of the inline fun should be indented more than the outer cod

[2021-01-07 14:28] onno-vos-dev opened #164 "Warn on resolved exceptions"
Hi there,

I have tried to search previous issues but I cannot find this mentioned, correct me if I'm wrong.

I have been playing with an idea in my head which, before starting to work on it, I would like to discuss. Currently I'm running Elvis on a couple of large code bases and there are a bunch of modules that throw so many failures that we've had to add them to the various ignore rules since t

[2021-01-07 14:29] gnuvince opened #165 "Support honoring the entries in a .gitignore file"
It'd be great if Elvis could be configured to ignore files matching entries in a .gitignore file.  This would be useful to ignore auto-generated files without having to duplicate the content of .gitignore in elvis.config.

Tentative configuration example:

[code]

[2021-01-07 21:25] paulo-ferraz-oliveira commented on #161
Found this today (@elbrujohalcon, you've been busy :)). I like it (the report and the potential rule following it, I mean).

[2021-01-07 21:25] paulo-ferraz-oliveira commented on #162
Another good one.

[2021-01-07 21:30] paulo-ferraz-oliveira commented on #164
I got confused with so many `ignore`s. What's the main goal?

[2021-01-07 21:41] paulo-ferraz-oliveira commented on #163
Two things:
1. I'm not actively using the CLI `elvis` anymore, but assume the issue hasn't been fixed (I saw nothing in my notifications that pointed to it),
2. ~I still would like `rebar3_lint` to not assume any defaults (and leave that to `elvis_core`), but that's an issue for a different repo~ (I went to check it, and you've [solved it already](https://github.com/project-fifo/rebar3_lint/commit

[2021-01-07 21:41] #163 closed

[2021-01-11 23:30] paulo-ferraz-oliveira commented on #147
If https://github.com/erlang/eep/blob/master/eeps/eep-0049.md gets implemented our rules loses relevance. Should we still go ahead and keep this Issue?

[2021-01-12 07:50] elbrujohalcon commented on #147
Yeah… that EEP is not going to be implemented anytime soon.

[2021-01-12 12:28] #146 closed

[2021-01-15 01:57] paulo-ferraz-oliveira opened #170 "Non-atom `catch` element reported as atom"
While

[code]

is perfectly reasonable and possible, `elvis` still complains that atom `Throw` "does not respect the format ...".

[2021-01-15 07:08] elbrujohalcon commented on #170
Wow! Amazing catch!

I bet it has something to do with how `ktn_dodger` parses that expression, but if it's treating that thing as an `atom` that's super-weird.

[2021-01-15 07:10] elbrujohalcon commented on #170
Nope. `ktn_dodger` correctly interprets that thing as a variable… there is something else going on 🤔

[2021-01-15 07:15] elbrujohalcon commented on #170
It's `ktn_code:parse_tree/1`'s fault… it turns `Throw` into this weird thing…

[code]
…I guess it's because it's incorrectly _inferring_ the rest of the pattern as `'Throw':Throw:_` 🤦

[2021-01-15 07:22] elbrujohalcon commented on #170
This is where the bug appears: https://github.com/inaka/elvis_core/blob/19bfe9fc2e9876122a655566456afe7b13ad5733/src/elvis_style.erl#L751

We should use `value` instead of `text`. But the change has to be done _carefully_ because `value` is an atom, not a string… and because we want to differentiate between enclosed and non-enclosed macros.

[2021-01-26 08:08] elbrujohalcon opened #171 "Remove state_record_and_type from erl_files"
This is an outdated rule.
The concept is not bad (_When implementing an OTP behavior, define some type to hold its state_), but the actual implementation of the rule requires the type to be called `state/0` and that's too strict. For instance, we have implementations of `gen_statem` where it makes much more sense to call that type `data/0` or `state_data/0`.

We should either allow the record name

[2021-01-26 11:33] paulo-ferraz-oliveira commented on #171
We could have a reasonable default per OTP behaviour, though this will be an ever-growing list, I imagine.

e.g.

[code]

Removing it might also be reasonable (to not break interface, though, we should issue a warning without changing the exit code).

[2021-01-28 00:27] paulo-ferraz-oliveira opened #172 "Consider more default operator spaces"
(don't want to get into an argument about what is an operator or not 😄)

Should we consider defaults for these?

[code]

[2021-01-28 01:30] paulo-ferraz-oliveira opened #173 "Release request"
Would it be possible to tag a release, here and in Hex.pm?

Many thanks.

[2021-01-28 07:03] elbrujohalcon commented on #172
I like it! I would include all of them in the default, except for `)` and `(`. Those sometimes may require spaces around them, yet sometimes not (I think).

[2021-01-28 07:15] #173 closed

[2021-01-28 07:17] elbrujohalcon commented on #173
https://hex.pm/packages/elvis_core/1.1.0

[2021-01-28 13:24] paulo-ferraz-oliveira commented on #173
🕺

[2021-02-07 13:34] paulo-ferraz-oliveira commented on #172
Cool. I've update the previous list by removing `(` and `)`. It's always a choice to add them in the future, I guess (either as default or on the consumer).

[2021-02-25 04:22] paulo-ferraz-oliveira opened #177 "macro_module_names not failiing on OTP 24"
Still haven't looked into this in detail, but I get

[code]

in OTP 19, but not OTP 24.

[2021-03-10 04:57] paulo-ferraz-oliveira opened #178 "Analysis not working over umbrella apps"
As per https://github.com/project-fifo/rebar3_lint/issues/26#issue-826719550.

[2021-03-10 12:31] paulo-ferraz-oliveira opened #180 "Run CI on a Windows container"
Try with something like
[code]
in `ci.yml`.

[2021-03-10 14:07] #178 closed

[2021-03-13 14:08] paulo-ferraz-oliveira commented on #171
👍, we usually call it `sdata`, even.

[2021-03-13 14:26] paulo-ferraz-oliveira opened #182 "Ease debug"
Recently, @robertoaloi reported an issue where he was getting a `function_clause`:

[code]

This exception is being eaten up internally. We should figure out how to either throw it or use `rebar3`'s logging facilities (if any) to ease this process.

[2021-03-13 14:35] robertoaloi opened #183 "-> at the beginning of the line makes the linter crash"
The following code:

[code]

Causes the linter to fail with:

[code]

Moving the `->` away from the beginning of the line solves the issue.

[2021-03-13 14:54] paulo-ferraz-oliveira commented on #183
Issue is in this function:
[code]

I'll try to fix soon.

[2021-03-13 17:48] paulo-ferraz-oliveira commented on #168
@elbrujohalcon: I'm now wondering if this is beyond the scope of `elvis`.

[2021-03-13 17:51] paulo-ferraz-oliveira commented on #164
As per the previous question, is this something we still need to pursue, or can the issue be closed?

[2021-03-13 17:53] paulo-ferraz-oliveira commented on #153
@robertoaloi, is it possible that the `operator_spaces` rule works here? I know this is not an operator, but just wondering...

[2021-03-13 17:55] paulo-ferraz-oliveira commented on #171
Marking this is `bug` since it's a "very desirable" update.

[2021-03-13 19:03] #183 closed

[2021-03-14 20:42] jfacorro commented on #168
IMHO I think it is beyond what Elvis should report on.

[2021-03-14 21:34] paulo-ferraz-oliveira commented on #168
Me too. Shall we close it? It's around 6 years old 😄

[2021-03-15 07:33] elbrujohalcon commented on #164
@paulo-ferraz-oliveira what @onno-vos-dev wants is a warning that's emitted when there is an ignore rule that is effectively ignoring nothing… and therefore it's an useless ignore. Like the warning that we emit when a file/dir configuration block actually affects 0 files.

[2021-03-15 07:45] elbrujohalcon commented on #153
I don't think `operator_spaces` would work, mostly because that rule is a _text-based_ one and I don't think we can implement this without some parsing.
On the other hand, I ❤️  this rule a lot!

[2021-03-15 07:47] elbrujohalcon commented on #168
And closed… it is!

[2021-03-15 07:47] #168 closed

[2021-03-15 10:03] paulo-ferraz-oliveira commented on #168
You `hank`ed it.

[2021-03-15 10:07] paulo-ferraz-oliveira commented on #164
Oh, that makes sense. I like it. We need to keep state, though, right? At the file level, for file-level config., and at the project level, for project level config. (actually, for module, module/function and module/function/arity, also).

[2021-03-15 10:10] elbrujohalcon commented on #164
Yeah, it's not trivial by any means.

[2021-03-18 18:54] paulo-ferraz-oliveira opened #186 "Non-atom `catch` element reported as atom #2"
[code]

reports `Atom "{" on line ... does not respect the format defined by the regular expression`

This one's potentially linked to https://github.com/inaka/elvis_core/issues/170, but even if not could be tackled at the same time, I guess.

[2021-03-23 21:17] paulo-ferraz-oliveira opened #188 "Release request"
The new fixes in `master` _deserve_ a new release. I hereby politely request one 😄

**Edit**: ah, and I also politely request it to be published to Hex.pm. Thanks.

[2021-03-23 22:15] paulo-ferraz-oliveira commented on #188
Also, I need it for https://github.com/inaka/cowboy-trails/pull/97.

[2021-03-24 07:24] elbrujohalcon commented on #188
https://hex.pm/packages/elvis_core/1.1.2

[2021-03-24 07:24] #188 closed

[2021-03-24 10:37] paulo-ferraz-oliveira commented on #188
Thanks much.

[2021-03-29 17:08] paulo-ferraz-oliveira opened #190 "Output line as first element in warning"
As is, messages are of type `Atom "<Atom>" on line <Line> does not...`.

I'm wondering if it would be best to make the output uniform, where possible (not all outputs have a line), like e.g.

`<Line>: Atom "<Atom>" does not...`

[2021-03-30 14:39] paulo-ferraz-oliveira opened #191 "Output actual line_length, upon failure, with the warning"
It makes it much easier to adapt an existing code base with a failing test by setting the max. to the reported value (which otherwise has to be actually measured "by hand").

[2021-04-06 07:20] elbrujohalcon commented on #190
Yeah… like…

[code]

[2021-04-06 11:19] paulo-ferraz-oliveira commented on #190
Oh, that's even a step further. We usually group the output per file (file's the "header" of the output section), but if you prefer we can stop doing that.

[2021-04-12 16:33] paulo-ferraz-oliveira opened #193 "Print initial message, upon starting analysis"
When analysis take too long, it's nice to have something like a waiting message, so we know the system's not stuck.

[code]

(it's basically the same message as `rebar3 dialyzer` already outputs, in another scope).

@elbrujohalcon, I feel this makes more sense here, but if you prefer I can transfer the issue over to `rebar3_lint and implement only at the plugin level.

[2021-04-13 06:55] elbrujohalcon commented on #193
I think it would fit better in `rebar3_lint`, for 2 reasons:
1 - *nix commands don't usually _introduce_ themselves
2 [and much more important] - it would be easier to implement in a way that respects the style of rebar3 output.

[2021-04-13 08:59] paulo-ferraz-oliveira commented on #193
Cool. Are you able to transfer this issue? If not, I can just copy it there. Thanks.

[2021-04-13 10:23] paulo-ferraz-oliveira commented on #193
Oh... I'll copy, then. Thanks.

[2021-04-13 10:24] paulo-ferraz-oliveira commented on #193
Superseded by the above mention.

[2021-04-13 10:24] #193 closed

[2021-04-19 21:37] paulo-ferraz-oliveira commented on #180
This is since outdated since we're now using `setup-beam` not `setup-erlang`. Hopefully we'll have a Windows CI -based runner soon.

[2021-05-25 10:05] cdyb-kivra opened #196 "Warn on empty folders triggered from `elvis git-branch`"
The warning introduced in commit 1cfbd982371caa276a575b1a965775830819c52e gets triggered when using the git-branch subcommand to elvis, and the branch being worked on lacks changed files in some configured directories. That's not very useful, and I assume was not intended.

[2021-05-26 10:48] paulo-ferraz-oliveira commented on #196
Hi, @cdyb-kivra. Thanks for the report.

I'm not sure what "using the git-branch subcommand to elvis" means 😕, though.

In any case, when the warning is issued, is it correct? (i.e. are the folders empty or non-existing?)

It was, indeed, not a concern of mine when developing it to assume different behaviours using branches, but I can revisit that.

Since it's a warning, and not an error (we did d

[2021-05-26 11:03] cdyb-kivra commented on #196
The git-branch subcommand is used to only run elvis on those files that have been changed compared to a given git branch. So, for example, my `elvis.config` points at three directories, `src`, `test` and `include`. Most of the time I work on a feature branch and change files in `src` and `test`. I then run the `elvis git-branch` command to get it to check only those files I have actually edited (c

[2021-05-26 12:03] elbrujohalcon commented on #196
It's been *ages* since I last saw `git-branch` anywhere. I think that, instead of myself, you should pull @jfacorro here, @paulo-ferraz-oliveira. Sorry but I can help as much or even less than you on this topic.

[2021-05-26 13:09] cdyb-kivra commented on #196
At the company I work for (Kivra), we use `elvis git-branch` as part of our CI/CD pipeline. So it's not just me personally :-)

[2021-05-26 15:33] paulo-ferraz-oliveira commented on #196
Sure. Let's wait for @jfacorro's input, then. We either have to silence elvis_core via an API variable, an option or, ... another thing (?)

[2021-07-06 12:36] paulo-ferraz-oliveira opened #197 "Fetch more options from elvis.config + rebar.config"
At the moment, `elvis_core` depends on `application:get_env` which is not very usable for the consumer, especially if his/her project is not bound to a release.

The purpose of this task is to, while keeping backward compatibility, fetch further options from `elvis.config` + `rebar.config` for usability.

**Note**: search the code for `application:`.

[2021-07-06 13:02] paulo-ferraz-oliveira commented on #197
`elvis_config:from_rebar` seems to be called only from tests.

[2021-07-07 11:43] #197 closed

[2021-07-31 14:14] nixxquality opened #204 "Do not apply atom_naming_convention over function names, only atoms used as atoms"
https://erlang.org/doc/man/zlib.html

The functions here are called inflateInit, inflateEnd, et.c. which angers Elvis.

Any thoughts on this? I see this as the current workaround
[code]
But I don't like working around linters.

Should atoms from the standard library be exempt?

[2021-07-31 14:43] elbrujohalcon commented on #204
You don't need to work around like that.
Just add an `-elvis` attribute to your module with the proper regex to handle the conflicting atoms.

[2021-07-31 15:01] nixxquality commented on #204
Sure, but I would still be working around the linter in *my code* where the fault lies somewhere else.

[2021-07-31 15:46] elbrujohalcon commented on #204
Yeah. But we can't force our style on other people's code 🤷‍♂️. Today is otp's zlib. Tomorrow it will be some other library. The best we can do is respect the standard ourselves and ignore the code in our deps. Right?

[2021-07-31 15:47] elbrujohalcon commented on #204
Maybe what elvis can do is to ignore atoms that are used as function names for this rule.

That would not be a bad idea.

[2021-07-31 16:25] nixxquality commented on #204
Yes, my point wasn't that this style should be forced on other people's code, rather that it would be nice if it was smart enough to recognize cases where it's out of your hand.

[2021-07-31 16:59] elbrujohalcon commented on #204
Got it! Yeah... Skipping function names would achieve that goal, at least in this context.

[2021-07-31 20:58] paulo-ferraz-oliveira commented on #204
If there's an easy way to list them automatically, sure...

Not sure what the implications of this statement are, but function names come in many forms, in the code:
* {mod, fun, arity}
* mod:fun/arity
* function declarations
* ...

Though there's no (real) convention I know of, around function names (http://www.erlang.se/doc/programming_rules.shtml#REF17122), the choice that `elvis` presents is c

[2021-07-31 21:06] paulo-ferraz-oliveira commented on #204
Hm... wait, I think I see what you mean here, atom_naming_convention is being applied over a function name (which should be Ok). Makes sense, in many cases, for example if the function name is declared first as an atom and then used later, i.e.

[code]

In that case, if changes apply (to elvis) we should probably also reconsider working on (maybe a different pull request) module_naming_convention

[2021-08-10 06:05] elbrujohalcon commented on #204
Yeah… I think that the ideal scenario would have `atom_naming_convention` only applying over atoms that are _used as atoms_, and leaving `function_naming_convention` and `module_naming_convention` for the other stuff.

[2021-08-11 18:46] paulo-ferraz-oliveira commented on #204
But in the case I describe I'm not sure ktn is sending back enough elements for that analysis. Might have to pick this up later for further digging.

[2021-08-12 07:17] elbrujohalcon commented on #204
It's a pure _semantic_ discussion, but… In your scenario, I would say that atoms are used as atoms. What you're using as a _function call_ are the variables ;)

[2021-08-30 19:27] g-andrade opened #205 "Handle Windows newlines gracefully"
## Bug Description

Recently I tried to run CI for [my lib](https://github.com/g-andrade/locus/) on Windows.

All the tests passed (surprisingly!) but Elvis (invoked through `rebar3_lint`) complained _a lot_ about trailing spaces and operator spaces. Like, [for almost every line of code](https://github.com/g-andrade/locus/runs/3456877027?check_suite_focus=true).

So, what's happening is: `git` can

[2021-08-30 19:28] g-andrade commented on #205
By the way: in the process of investigating the issue I pretty much fixed it, so let me know and I can open a PR.

[2021-08-30 20:04] g-andrade commented on #205
[Here's the fix](https://github.com/g-andrade/elvis_core/commit/59d6ee8036cdebf5b8a737c6f76a41133fd52d4a) and here's [confirmation that it worked](https://github.com/g-andrade/locus/runs/3465794759?check_suite_focus=true).

If you agree with the solution, I'll open a PR.

If not, I'm open to exploring other options (and I'll understand if you don't even consider this a real problem, given how few

[2021-08-31 07:29] elbrujohalcon commented on #205
@g-andrade Great catch! Amazing description! Incredibly thorough explanation! And spectacular fix!

I would ❤️  to have that as a PR 🙏🏻

[2021-08-31 15:52] #205 closed

[2021-09-07 00:48] paulo-ferraz-oliveira commented on #180
I wonder if @g-andrade's recent PR would solve this.

[2021-09-07 01:18] paulo-ferraz-oliveira commented on #180
Whad'ya know, it works! And there was only one failing test case. (obviously it had a hard-coded \n)

[2021-09-07 06:07] #180 closed

[2021-09-15 15:50] elbrujohalcon opened #208 "[New Rule] Disallow numbers with underscores in them"
## Rule Idea
I would like to have a rule that emits a warning if anybody uses underscores in a number, like `1_000_000`.

## Reasoning
I'm aware that this is a radical point of view, but the goal is to be able to consistently grep the code when needed. If I want to find where a certain `123384` value is specified in the code, I don't want to have to grep for `1_?2_?3_?3_?8_?4` instead of `123384`.

[2021-09-17 06:23] #208 closed

[2021-09-19 15:20] paulo-ferraz-oliveira opened #210 "New rule (?) behavior vs. behaviour"
If one of `elvis_core`'s goals is consistency, how about we choose one of:
* behavior
* behaviour
and warn when the other one is used.

eg.
`- behavior(gen_server).` would be Ok
`- behaviour(gen_server).` would warn
or the other way around.

In one of our [rules](https://github.com/inaka/elvis_core/wiki/Rules) we actually already mention "behavior" and not "behaviour", so for consistency...

... o

[2021-09-19 15:50] paulo-ferraz-oliveira opened #211 "Document numeric_format"
As implemented by @elbrujohalcon's https://github.com/inaka/elvis_core/pull/209.

I know there's a task there, but it's very easy for it to get lost in history.

[2021-09-20 07:00] elbrujohalcon commented on #210
I vote YES!

And it's a great ticket to be somebody's first contribution to the project.

I'll tag it as `hacktoberfest`. Maybe we get lucky.

[2021-09-20 07:40] elbrujohalcon commented on #211
[Done!](https://github.com/inaka/elvis_core/wiki/Rules#numeric-format)

[2021-09-20 07:45] #211 closed

[2021-09-20 08:26] paulo-ferraz-oliveira commented on #211
Cool 👍

[2021-10-06 06:27] elbrujohalcon commented on #210
Fixed with #212

[2021-10-06 06:27] #210 closed

[2021-10-06 10:31] paulo-ferraz-oliveira commented on #210
Seems we did get lucky 😄

[2021-10-13 08:38] elbrujohalcon opened #213 "badarg when applying numeric_format"
When applying the new `numeric_format` rule to a file like the one below, it fails with `badarg`:

[code]

That's because of the `8` that can be found there and, according to the parser, it has no associated `text` property.

[2022-01-06 19:14] paulo-ferraz-oliveira commented on #160
I've moved to implement this, thus the last change ("removed their assignment now").

[2022-01-07 14:17] #160 closed

[2022-01-12 23:29] lukebakken opened #220 "no_trailing_whitespace detects trailing whitespace on every line for dos-formatted files"
To reproduce:

* Using Windows, configure git `core.autocrlf` to be `true` so that files have native (`\r\n`) line endings.
* Clone https://github.com/rabbitmq/ra.git
* Open the `src\ra_app.erl` file in an LSP-enabled editor (neovim in my case)
* Every line is marked as having trailing whitespace:
<img width="927" alt="elvis-trailing-whitespace" src="https://user-images.githubusercontent.com/51492

[2022-01-13 16:18] elbrujohalcon commented on #220
…aaaand transferred! 🪄 ✨

[2022-01-13 21:28] paulo-ferraz-oliveira commented on #220
Windows... nice! 😕

Should we just ignore `\r` in `elvis_utils:split_all_lines/2` in the case of Windows?

Or is this a Erlang LS "issue", and it should be splitting like we are? @robertoaloi, suggestions?

[2022-01-13 22:35] lukebakken commented on #220
Yep, I can't stand apple keyboards and I am debating whether or not to wipe Win 10 and install Arch Linux like my other dev env. For now, I've been making do with Windows.

I am testing that out now:

https://github.com/erlang-ls/erlang_ls/compare/main...lukebakken:crlf-line-endings

[2022-01-13 22:44] lukebakken commented on #220
As @elbrujohalcon pointed out, [`elvis_utils:split_all_lines/2`](https://github.com/inaka/elvis_core/blob/master/src/elvis_utils.erl#L130-L132) already takes `\r\n` into account.

Unfortunately my changes in https://github.com/erlang-ls/erlang_ls/compare/main...lukebakken:crlf-line-endings do not seem to address the issue.

To simplify things, I'm going to take erlang-ls out of the mix and run `el

[2022-01-14 08:19] robertoaloi commented on #220
From what I understand that was already tried and it didn't work as expected. We have (partially broken) CI for Windows, so it should be possible to implement a simple test case for this and try to replicate it from there. If this is a Windows issue, we should really fix it, since the whole point of the language server is to provide the same experience to users, independently from the OS/editor us

[2022-01-14 17:46] lukebakken commented on #220
There's a very good chance my changes in https://github.com/erlang-ls/erlang_ls/compare/main...lukebakken:crlf-line-endings are insufficient to address the issue since it's the first time I've looked at that codebase.

I'll do some "`elvis`-only" testing this weekend. If I see this issue, I'll implement the test that @robertoaloi mentions and will see if I can even get the CI fixed.

Thanks for th

[2022-01-15 00:20] lukebakken commented on #220
The issue is there when `elvis` is run standalone. I'll continue investigating!

[code]

[2022-01-15 00:46] lukebakken commented on #220
Hey everyone, turns out there is a simple fix. Check out this diff between 1.1.2 and 1.3.1 of `src/elvis_utils.erl`:

https://github.com/inaka/elvis_core/compare/1.1.2...1.3.1#diff-210652d8f1259c9d4456d891b70a93ae6935476c3f594b72bcf04494d548690a

`elvis` currently depends on `elvis_core` version 1.1.2:

https://github.com/inaka/elvis/blob/master/rebar.config#L66

But `elvis_core` is currently at v

[2022-01-17 07:30] elbrujohalcon commented on #220
Good catch, @lukebakken.
Let's see if inaka/elvis#565 helps :)

[2022-01-17 23:50] paulo-ferraz-oliveira commented on #220
That's why it was strange to us 😄 I did remember @g-andrade had issues using this on Windows, recently, but I didn't read the part where this was being imported by `elvis` thoroughly.

[2022-01-18 06:41] elbrujohalcon commented on #220
New version of `elvis` already published to hex.pm: https://hex.pm/packages/elvis

[2022-01-18 12:53] paulo-ferraz-oliveira commented on #220
So, should this issue be moved back to `elvis`?

[2022-01-18 14:52] lukebakken commented on #220
@elbrujohalcon I'm going to open a PR to update the dep in https://github.com/erlang-ls/erlang_ls. Any gotchas I should be aware of?

[2022-01-18 14:54] lukebakken commented on #220
@elbrujohalcon FYI the changes in #565 fix the issue when I run `elvis` locally. Thanks!

[2022-01-18 14:55] elbrujohalcon commented on #220
No idea. @robertoaloi ?

[2022-01-20 08:15] robertoaloi commented on #220
Ideally, we would have a test in Erlang LS which deals with a DOS-formatted file, ensure it fails in the Windows pipeline and passes after the fix.

[2022-01-22 22:58] lukebakken commented on #220
@robertoaloi I added a test in #221 that should covers this case. I think after that's merged this issue can be closed.

[2022-01-24 13:34] lukebakken commented on #220
Thanks everyone

[2022-01-24 13:34] #220 closed

[2022-02-19 20:48] tsloughter commented on #171
Just upgraded `rebar3_lint` on Elli and this warning popped up which led me to find it doesn't support if the type is `opaque` https://github.com/elli-lib/elli/blob/main/src/elli.erl#L52

It should probably at least not warn if the type is there but `-opaque` instead of `-type`?

[2022-02-21 07:46] elbrujohalcon commented on #171
@tsloughter you are right. It shouldn't warn on `-opaque` but, why are you exporting the type of your internal state? 🤔

[2022-02-21 11:10] paulo-ferraz-oliveira commented on #171
@elbrujohalcon, do you think we should fix the rule or rather remove it, as proposed by the issue itself?

[2022-02-21 11:19] paulo-ferraz-oliveira commented on #171
But keep the rule itself?

You mean, remove it from the default, right?

[2022-02-21 11:21] elbrujohalcon commented on #171
Right. Remove it from the erl_files ruleset only

[2022-02-21 11:21] paulo-ferraz-oliveira commented on #171
On it!

[2022-02-21 11:33] paulo-ferraz-oliveira commented on #171
Sorry for side-tracking this: I've found that `no_behavior_info` isn't applicable (by default) to BEAM files. I'm not sure how it would behave (would need to test), but the Wiki says it works. Should we also include it in the default?

[2022-02-21 12:06] elbrujohalcon commented on #171
Yeah, I think we should.

[2022-02-21 12:07] elbrujohalcon commented on #171
We should not include it… As a matter of fact, it doesn't _really_ work for BEAM files. Since that function (`behaviour_info`) is auto-included by the compiler… it will warn for every single behaviour definition out there and it won't be possible to silence it.

[2022-02-21 12:07] elbrujohalcon commented on #171
The real solution is to state that it doesn't work for BEAM files in the Wiki.

[2022-03-14 14:06] elbrujohalcon opened #224 "New Rule: Avoid throw"
Stemming from [the conversation on the Erlang Forums](https://erlangforums.com/t/should-we-eventually-improve-catch-throw-semantics/1210/6):

(said @Maria-12648430)

(said @bjorng)

[2022-03-15 11:33] paulo-ferraz-oliveira commented on #224
I ❤️ this.

[2022-04-20 00:51] paulo-ferraz-oliveira opened #225 "Add erlang:display to default (list) of no_debug_call"

[2022-04-20 02:33] paulo-ferraz-oliveira opened #227 "Adapt master > main"
We should probably (since `main` is now in many places) have new / copied rules for `main`, where `master` is present.

[2022-04-20 04:32] elbrujohalcon opened #228 "Add Issue Templates to this repo"
Just like the ones that other repos (such as `rebar3_format` or `rebar3_hank`) have.

[2022-04-20 04:33] elbrujohalcon opened #229 "Apply a formatter to the code"
Add `rebar3_format` and apply it to the code in this repo.
Also add it to CI pipelines.

[2022-04-20 09:52] #224 closed

[2022-04-24 15:12] paulo-ferraz-oliveira commented on #148
I'm picking this up.

The rule will be more generic than just "operators", especially since `(` and `{` are not operators. It'll work on top of "tokens" (any text).
Newlines are not considered, as per the initial proposal.
The rule will be disabled by default and go in `elvis_style` (`elvis_text_style` works on "text", not tokens).

[2022-04-25 12:49] paulo-ferraz-oliveira opened #232 "No space after $"
Don't allow text after (char) character $
Don't forget to validate newline (as that's not a space).

[2022-04-25 13:22] elbrujohalcon commented on #232
Actually… the rule should be more like "Use the proper representation of the space character" and it will not deal with spaces… it will just identify the token corresponding to `$ ` and report a warning then and there.

[2022-04-25 19:10] paulo-ferraz-oliveira commented on #232
I was confused about your comment, then re-read my proposel. Where I wrote "Don't allow text" I should've written "Don't allow space" (as per the title). I guess I should've re-read it.

[2022-04-26 02:39] paulo-ferraz-oliveira commented on #147
This is implemented (locally). I'm just missing adding some tests...

[2022-04-26 06:46] elbrujohalcon commented on #232
Right… `$ ` is the space character in the same way that `$a` is the `a` character.
It's not like you can put spaces between `$` and the character.

[2022-04-26 11:32] paulo-ferraz-oliveira commented on #148
Closed by #231.

[2022-04-26 11:32] #148 closed

[2022-04-26 11:55] paulo-ferraz-oliveira opened #234 "Revisit defaults for rules"
operator_spaces and no_space: we might want more operators on these ones...

Other rules: are all the ones we want as defaults in the rulesets? (should we add this info to the Wiki, that certain rules aren't executed by default?)

[2022-04-26 11:58] #147 closed

[2022-04-26 23:48] paulo-ferraz-oliveira commented on #145
It doesn't seem trivial to distinguish `try-catch` from `catch`...

[2022-04-27 00:01] paulo-ferraz-oliveira commented on #145
Well, it's not as difficult as I thought, actually... I was looking at `try_catch` being generated as `catch` but that's if we look at the tokens, not the content.

[2022-04-27 00:43] paulo-ferraz-oliveira commented on #172
Linked to #234, it seems.

[2022-04-27 15:20] #145 closed

[2022-05-04 20:46] paulo-ferraz-oliveira commented on #190
I believe `{output_format, parsable}` already takes care of this, either partially or completely.

[2022-05-04 20:46] #190 closed

[2022-05-05 08:12] #182 closed

[2022-05-18 11:55] albsch opened #237 "Error: `undef` while applying rules"
The rules `no_trailing_whitespace` and `no_tabs` fail for an empty Erlang module for no obvious reason:

[code]

The module in question:

[code]
[code]

The lint failing can be reproduced here:

https://github.com/albsch/buggy-linting

My expectation would be that the `rebar3 lint` command succeeds. I think it's an `elvis` issue and not an rebar3 lint plugin issue, so I opened an issue here.

[2022-05-18 20:37] paulo-ferraz-oliveira commented on #237
Let me check this.

It's one of those edge cases, but we're Ok to include it in the tests.

[2022-05-18 20:56] paulo-ferraz-oliveira commented on #237
https://github.com/albsch/buggy-linting/blob/master/elvis.config#L10 < it's `elvis_text_style`, not `elvis_style`. Use that and it won't crash.

[2022-05-18 20:56] #237 closed

[2022-05-18 21:00] paulo-ferraz-oliveira commented on #237
Here you go: https://github.com/inaka/elvis_core/wiki/Rules#no-trailing-whitespace

[2022-05-19 09:21] albsch commented on #237
Ah, thank you. It was a very old `elvis.config` and I didn't notice the change to `elvis_text_style`. Thanks again!

[2022-05-26 06:44] elbrujohalcon commented on #144
I'm closing this one. I don't see us implementing this in the near future, @paulo-ferraz-oliveira. Feel free to reopen it if you plan to work on it.

[2022-05-26 06:44] #144 closed

[2022-05-26 06:46] elbrujohalcon commented on #153
FWIW: Using a formatter takes care of this thing pretty neatly.

[2022-05-26 06:51] #166 closed

[2022-05-26 06:52] elbrujohalcon commented on #162
We should split `hrl_files` from `erl_files` ruleset… Which is something we should've done already a long time ago anyway :)

[2022-05-30 09:43] #177 closed

[2022-05-30 14:04] paulo-ferraz-oliveira commented on #162
There's not many `hrl`-specific rules, at the moment, are there? In any case, I agree, it's a good suggestion. It can be breaking, however, but we can always add a warning and keep current behaviour and break when we have enough stuff to go to 2.x

[2022-05-30 14:06] paulo-ferraz-oliveira commented on #144
Hm... yeah. Since the compiler already has this as an option, somehow, I'm not sure repeating it in `elvis_core` wouldn't do more "damage" than not.

[2022-06-02 05:28] #228 closed

[2022-06-02 07:16] elbrujohalcon opened #241 "Make sure that Elvis runs on OTP25"
(What the title says)

[2022-06-02 10:38] #229 closed

[2022-06-02 13:39] #241 closed

[2022-06-09 10:28] #149 closed

[2022-06-14 07:53] #150 closed

[2022-06-14 08:07] #232 closed

[2022-06-16 08:10] elbrujohalcon commented on #172
Also, `%` is not an operator.

[2022-06-16 12:43] #225 closed

[2022-06-16 12:44] #191 closed

[2022-06-16 12:46] #172 closed

[2022-06-22 13:28] paulo-ferraz-oliveira commented on #172
I wanted to make sure you were paying attention 🤣 (seriously, though, I don't know where that one came from).

[2022-06-23 09:55] elbrujohalcon opened #252 "Move docs from wiki to code"
## Is your feature request related to a problem? Please describe.
Wikis are apart from code so each pull request for a new or updated rule (which are most of the PRs, anyway) requires an extra update somewhere else.
It would be better if what's now on the wiki would be in the README or in a `doc` folder (maybe with one md document per rule?).

## Describe the solution you'd like
I would like to mo

[2022-06-23 11:45] #227 closed

[2022-06-23 18:16] paulo-ferraz-oliveira commented on #4
@elbrujohalcon, this would add a dependency, but apart from that do we have so much coloured text that would warrant such a change?

[2022-06-27 06:26] elbrujohalcon commented on #4
I'm not sure about using it in this project, but we should consider using it on inaka/elvis and maybe project-fifo/rebar_lint

[2022-06-27 11:50] paulo-ferraz-oliveira commented on #4
👍, I'll let you decide to keep this open or not. Maybe we'll reach the point where `elvis_core` doesn't actually output anything but simply creates the "outputables".

[2022-06-27 12:15] #252 closed

[2022-06-27 12:17] elbrujohalcon commented on #4
Is it outputting something right now? Where is that outputting happening?

[2022-06-27 12:19] elbrujohalcon commented on #4
So, the idea is to replace those mustchoed colors (like `{{red-bold}}`) by whatever `cf` uses for that.
I think it's a good idea, but I also think that this project should not be printing anything.

[2022-07-21 12:45] elbrujohalcon commented on #156
This is already taken care of by the Erlang compiler. It emits warnings such as…

[code]

[2022-07-21 12:45] #156 closed

[2022-07-21 15:12] #157 closed

[2022-09-16 17:36] paulo-ferraz-oliveira opened #258 "New rule: term_or_any"
### Name

term_or_any

### Brief Description

As per https://github.com/erlang/otp/issues/6289 we could imagine `elvis_core` having an opinion on which one is more reasonable: `any()` or `term()`. Personally, I prefer `term()` since it relates directly to the documentation. `any()` _seems_ too generic (I know, highly debatable). In any case, we could also allow the rule to (by default) allow term

[2022-09-27 06:07] kikofernandez commented on #258
My two cents is that some tools rely on `any()` to do gradual typing. As long as someone can override any default opinion on `any()` vs `term()` vs `_` is good for the community :)

[2022-10-22 09:33] paulo-ferraz-oliveira commented on #258
@kikofernandez, `elvis_core` is pretty configurable (even though it has defaults). I don't think it forces anything on anybody, especially since you can disable any rule (may some aren't 100% configurable, but you can also add your own custom rules, so...).

[2022-10-27 07:59] jackyhui96 opened #260 "Elements within callbacks are not being categorised as types"
## Bug Description

[//]:# (A clear and concise description of what the bug is.)
Elvis is currently not categorising type elements inside a callback node as types.
Discovered this while working on issue #259.

## To Reproduce

[//]:# (Steps to reproduce the behavior)
Can be reproduced by retrieving the parse tree of a module that contains callbacks and inspecting the output e.g. `elvis_file:parse_